.full_screen {
    position: absolute;
    right: 1rem;
    top: 0;
    z-index: 1110;
  }
  
  .statistic_buttons {
    width: 80%;
    max-width: 40rem;
    height: 2.5rem;
    padding: 0 1rem;
  }
  .firstplan {
    z-index: 1112;
  }