* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}
html {
  overflow-x: hidden;
}

:root {
  font-size: 10px;
  --gray: #222222;
  --light-gray: #444;
  --dark: #000000;
  --red: #c00808;
  --txtcolor: #bdbdbd;
}

#body {
  background-color: var(--dark);
}

/* ------ header ------ */

header {
  width: 100%;
  height: 5vh;
  background-color: var(--gray);
  color: var(--txtcolor);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 3rem;
  margin-left: 2rem;
}

#actual_date {
  font-size: 1.7rem;
  margin-right: 2rem;
}

/* ------ main ------ */

#app {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 90vh;
  padding: 0.5rem;
}

#left {
  flex: 1 0 20vw;
  height: auto;
}

#global_cases {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 3rem;
}

#total {
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--red);
}

#right {
  flex: 1 0 20vw;
  height: auto;
}
.column {
  display: flex;
  flex-direction: column;
}
.block {
  background-color: var(--gray);
  min-height: 10rem;
  margin: 0.5rem;
}

/* ---- country_table ---- */
#search {
  width: 65%;
  max-width: 30rem;
}
.hide {
  display: none;
}
#active, #active:hover {
  border: solid 2px #fd8d3c;
}
#active td {
  background-color: #fd8d3c !important;
}

#country_cases_head {
  text-align: center;
}

#country_cases {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.country_cases {
  flex: 1 0 70vh;
  color: var(--txtcolor);
  position: relative;
}

#country_table {
  padding: 1rem;
  overflow-y: scroll;
  height: 80%;
  width: 97%;
  font-size: 1.5rem;
}

.table_head {
  position: sticky;
  top: 0;
  background-color: var(--gray);
  height: 2rem;
  transform: translateY(-1.1rem);
}

.country_cases_full {
  color: var(--txtcolor);
  position: absolute;
  top: 5vh;
  left: 0;
  bottom: 5vh;
  right: 0;
  overflow-y: scroll;
  z-index: 1111;
}

.pointer:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.cell:hover {
  cursor: pointer;
}
#country_table::-webkit-scrollbar {
  width: 1rem;
}
#country_table::-webkit-scrollbar-track {
  background-color: var(--light-gray);
}
#country_table::-webkit-scrollbar-thumb {
  background-color: var(--dark);
  border-radius: 1rem;
}

/* ----- statistic table ----- */
#statistic_table {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.statistic_table_full {
  color: var(--txtcolor);
  position: absolute;
  top: 5vh;
  left: 0;
  bottom: 5vh;
  right: 0;
  overflow-y: scroll;
  z-index: 1113;
}

.statistic_table {
  flex: 2;
  position: relative;
}

.region {
  margin-top: 1rem;
  flex: 2 0 auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: var(--txtcolor);
}

.statistic_table_table {
  flex: 4 0 auto;
  width: 90%;
  font-size: 2rem;
}

.statistic_table_buttons {
  flex: 1 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

/* ----- map ----- */
#map {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  flex: 6 0 20vw;
  height: auto;
  position: relative;
}

#leafmap {
  width: 99%;
  height: 99%;
}

.icon-marker {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 1em;
  font-weight: bold;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
}
.icon-marker:hover .icon-marker-tooltip {
  display: block;
}

.icon-marker-tooltip {
  color: #fff;
  display: none;
  position: absolute;
  bottom: 100%;
  width: 16em;
  font-size: 1em;
  padding: 1em;
  background-color: var(--gray);
  border-radius: 0.4em;
  margin-bottom: 1em;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.9);
}
.icon-marker-tooltip:before {
  display: block;
  position: absolute;
  bottom: -0.6em;
  left: 50%;
  content: "";
  width: 1.4em;
  height: 1.4em;
  background-color: grey;
  transform: rotate(45deg);
  margin-left: -0.7em;
}
.icon-marker-tooltip h2 {
  font-size: 1.3em;
  line-height: 1.2;
  margin-bottom: 0.1em;
  margin-top: 0;
}
.icon-marker-tooltip h3 {
  font-size: 1.2em;
  margin: 0.1em 0;
  font-weight: normal;
  color: var(--gray);
}
.icon-marker-tooltip ul,
.icon-marker-tooltip p {
  font-weight: normal;
}
.icon-marker-tooltip ul {
  list-style: none;
  padding: 0;
  margin: 0.6em 0 0;
}

.legend {
  line-height: 18px;
  color: #fff;
  width: 130%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.3rem;
  background-color: rgba(255, 255, 255, 0.3);
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
}

/* ----- chart ----- */

.chart_block {
  flex: 3;
  position: relative;
}
.chart-container {
  position: relative;
  margin: auto;
  height: 97%;
  width: 97%;
}

#chart {
  width: 99%;
  height: 99%;
}

/* ------ footer ------ */

footer {
  width: 100%;
  height: 5vh;
  background-color: var(--gray);
  color: var(--txtcolor);
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-info {
  width: 11vw;
  height: 4vh;
  color: var(--txtcolor);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
.footer-info a {
  text-decoration: none;
  color: var(--txtcolor);
}

#github {
  height: 4vh;
  width: 8vh;
  background-image: url("../img/github.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#logo {
  height: 4vh;
  width: 10vh;
  background-image: url("../img/rs_school_js.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* ----- buttons ----- */
.full_screen {
  position: absolute;
  right: 1rem;
  top: 0;
  z-index: 1110;
}

.statistic_buttons {
  width: 80%;
  max-width: 40rem;
  height: 2.5rem;
  padding: 0 1rem;
}
.firstplan {
  z-index: 1112;
}
