#map {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .map {
    flex: 6 0 20vw;
    height: auto;
    position: relative;
  }
  
  #leafmap {
    width: 99%;
    height: 99%;
  }
  
  .icon-marker {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 1em;
    font-weight: bold;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
  }
  .icon-marker:hover .icon-marker-tooltip {
    display: block;
  }
  
  .icon-marker-tooltip {
    color: #fff;
    display: none;
    position: absolute;
    bottom: 100%;
    width: 16em;
    font-size: 1em;
    padding: 1em;
    background-color: var(--gray);
    border-radius: 0.4em;
    margin-bottom: 1em;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.9);
  }
  .icon-marker-tooltip:before {
    display: block;
    position: absolute;
    bottom: -0.6em;
    left: 50%;
    content: "";
    width: 1.4em;
    height: 1.4em;
    background-color: grey;
    transform: rotate(45deg);
    margin-left: -0.7em;
  }
  .icon-marker-tooltip h2 {
    font-size: 1.3em;
    line-height: 1.2;
    margin-bottom: 0.1em;
    margin-top: 0;
  }
  .icon-marker-tooltip h3 {
    font-size: 1.2em;
    margin: 0.1em 0;
    font-weight: normal;
    color: var(--gray);
  }
  .icon-marker-tooltip ul,
  .icon-marker-tooltip p {
    font-weight: normal;
  }
  .icon-marker-tooltip ul {
    list-style: none;
    padding: 0;
    margin: 0.6em 0 0;
  }
  
  .legend {
    line-height: 18px;
    color: #fff;
    width: 130%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.3rem;
    background-color: rgba(255, 255, 255, 0.3);
  }
  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
  }

  .map_full {
    color: var(--txtcolor);
    position: absolute;
    top: 5vh;
    left: 0;
    bottom: 5vh;
    right: 0;
    z-index: 1111;
  }
